{% extends "base.html" %}
{% block title %}
    作者列表
{% endblock  %}
{% block author %}
    active
{% endblock  %}
{% block main %}
            <a href="/author_add/" class="btn btn-primary" style="margin-bottom:5px">新增</a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            作者id
                        </th>
                        <th>
                            作者名称
                        </th>
                        <th>
                            代表作
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for author in authors %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ author.pk }}
                            </td>
                            <td>
                                {{ author.name }}
                            </td>
                            <td>
                                {% for book in author.books.all %}
                                    《{{ book.name }}》
                                {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="/author_del/?pk={{ author.pk }}">删除</a>
                                <a class="btn btn-primary btn-sm" href="/author_edit/?pk={{ author.pk }}">编辑</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>   
{% endblock  %}