{% extends "base.html" %}
{% block title %}
    出版社列表
{% endblock  %}
{% block publisher %}
    active
{% endblock  %}
{% block main %}
             <a href="/publisher_add/" class="btn btn-primary" style="margin-bottom:5px">新增</a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            出版社id
                        </th>
                        <th>
                            出版社名称
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for publisher in publisher_all %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ publisher.pk }}
                            </td>
                            <td>
                                {{ publisher.name }}
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="/publisher_del/?pk={{ publisher.pk }}">删除</a>
                                <a class="btn btn-primary btn-sm" href="/publisher_edit/?pk={{ publisher.pk }}">编辑</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}